/* general */

html {
  box-sizing: border-box;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, serif;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
}

.inscription {
  color: #0065fc;
  font-weight: bold;
}
.recherche {
  display: flex;
  width: 95%;
  margin-left: 5%;
  margin-top: 2rem;
}

.recherche input {
  display: block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-top: solid 2px #f2f2f2;
  border-bottom: solid 2px #f2f2f2;
  border-left: none;
  border-right: none;
  width: 74%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.localisation {
  display: block;
  width: 13%;
  border: none;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  background-color: #f2f2f2;
}

.loupe {
  display: block;
  width: 13%;
  border: none;
  border-radius: 30%;
  background-color: #0065fc;
  margin-left: -5%;
}

.loupe i {
  color: white;
}

.filtres li {
  display: inline-block;
  margin-right: 3%;
  margin-bottom: 0.5rem;
  border: solid 2px #f2f2f2;
  border-left: none;
  margin-left: 0.2rem;
  border-radius: 27px;
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
}

.filtres li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-right: 1rem;
}

.filtres li a i {
  background-color: #deebff;
  color: #0065fc;
  padding: 0.8rem;
  border-radius: 27px;
}

#logo_info {
  padding: 0.2rem 0.4rem;
  border: solid 1px #f2f2f2;
  font-size: 0.7rem;
  border-radius: 27px;
  color: #0065fc;
}

.article_herbergement {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 2rem) min-content;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 1rem rgb(200 200 200);
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 1rem;
}
.article_herbergement div {
  grid-column: 1/-1;
  grid-row: 1/5;
}

.article_herbergement div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
  border-radius: 20px 20px 0 0;
}

figcaption {
  grid-column: 1/-1;
  grid-row: 5/6;
}

.article_herbergement figcaption h4 {
  margin-left: 4%;
  margin-top: 0.4rem;
}

.article_herbergement figcaption p {
  margin-top: 0.5rem;
  margin-left: 4%;
  font-size: 0.9rem;
}

.etoile {
  margin-left: 4%;
  margin-top: 0.4rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.etoile i {
  font-size: 0.75rem;
  color: #0065fc;
}

.populaire {
  background-color: #f2f2f2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.titre_pop {
  display: flex;
  justify-content: space-between;
}
#graph {
  font-size: 1.4rem;
  margin-right: 5%;
}

.article_herbergement_pop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1.8rem);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 1rem rgb(200 200 200);
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 1rem;
  background-color: white;
}
.article_herbergement_pop div {
  grid-column: 1/3;
  grid-row: 1/-1;
}
.article_herbergement_pop div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  padding: 5px;
}

.article_herbergement_pop figcaption {
  grid-column: 3/6;
  grid-row: 1/-1;
}

.article_herbergement_pop figcaption h4 {
  display: block;
  width: 70%;
  font-size: 0.8em;
  margin-top: 1rem;
  margin-left: 1rem;
}

.article_herbergement_pop figcaption p {
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.article_herbergement_pop figcaption .etoile {
  margin-left: 1rem;
  margin-top: 2rem;
}
.article_activité {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 2rem) min-content;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 1rem rgb(200 200 200);
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 1.2rem;
  margin-bottom: 1rem;
}
.article_activité div {
  grid-column: 1/-1;
  grid-row: 1/5;
}

.article_activité div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.article_activité figcaption h4 {
  margin-left: 4%;
  margin-top: 1.2rem;
}

/*==============   
      MOBILE
================*/

@media (min-width: 320px) and (max-width: 780px) {
  .logo {
    width: 25%;
    height: auto;
    margin-left: 5%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .inscription {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5%;
    margin-top: 2rem;
  }

  .nav li {
    width: 50%;
    text-align: center;
  }

  .nav li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 0.75rem;
    border-bottom: solid 3px #f2f2f2;
  }

  .nav li a:active {
    color: #0065fc;
    border-bottom: solid 3px #0065fc;
  }

  .nav li a:hover {
    border-bottom: solid 3px #0065fc;
    color: #0065fc;
  }

  h1 {
    font-size: 1.3rem;
    display: block;
    width: 80%;
    margin-left: 5%;
    margin-top: 1rem;
  }

  h2 {
    font-size: 0.9rem;
    margin-top: 1rem;
    display: block;
    width: 80%;
    margin-left: 5%;
  }
  .loupe {
    font-size: 0;
  }

  .loupe i {
    font-size: 1rem;
  }

  h5 {
    margin-left: 5%;
    margin-top: 2rem;
    font-size: 1rem;
  }
  .filtres {
    margin-left: 5%;
    margin-top: 1rem;
    width: 90%;
  }

  #logo_info {
    margin-left: 5%;
  }
  .info {
    display: block;
    width: 80%;
    float: right;
    margin-right: 5%;
  }

  .hebergements {
    margin-top: 2rem;
  }
  .hebergement p {
    margin-left: 6%;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  h3 {
    margin-left: 5%;
    margin-bottom: 1.5rem;
  }

  footer {
    margin-top: 3rem;
    background-color: #f2f2f2;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  footer ul {
    margin-left: 5%;
    list-style: none;
    margin-top: 1rem;
  }

  footer ul li {
    margin-top: 0.5rem;
  }
}
/*===========
  TABLETTE
===========*/

@media (min-width: 781px) and (max-width: 1350px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .logo {
    width: 10%;
    height: auto;
  }

  header div {
    display: flex;
    flex-direction: row-reverse;
  }
  .nav a {
    margin-right: 4rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  .recherche {
    width: 50%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .recherche input {
    width: 62%;
  }
  .loupe i {
    display: none;
  }
  .loupe {
    width: 35%;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
    font-size: 1rem;
    color: white;
  }

  main h5 {
    display: block;
    font-size: 1rem;
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }

  #logo_info {
    float: left;
    margin-right: 1rem;
  }

  .info {
    margin-bottom: 2rem;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
  }
  .populaire {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 27px;
  }

  .article_herbergement_pop {
    width: 70%;
  }

  .article_herbergement_pop figcaption h4 {
    font-size: 1rem;
    margin-left: 20%;
  }
  .article_herbergement_pop figcaption p {
    font-size: 1.2rem;
    margin-left: 20%;
  }

  .article_herbergement_pop figcaption .etoile {
    margin-left: 20%;
  }

  .titre_pop {
    align-items: center;
    margin-left: 15%;
    margin-right: 10%;
  }
  .hebergement {
    padding-top: 1rem;
    width: 100%;
    background-color: #f2f2f2;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 27px;
  }

  .hebergement h3 {
    margin-left: 3%;
    margin-bottom: 1rem;
  }

  .grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .article_herbergement figcaption h4 {
    margin-left: 4%;
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }

  .article_herbergement figcaption p {
    margin-top: 0.5rem;
    margin-left: 4%;
    font-size: 0.7rem;
  }

  .hebergement p {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
  }

  h3 {
    margin-left: 2%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .activité {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #grand1,
  #grand2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 2rem) min-content;
    padding: 0;
  }
  #grand1 div,
  #grand2 div {
    grid-row: 1/11;
  }

  #grand1 figcaption,
  #grand2 figcaption {
    grid-row: 11/13;
  }

  footer {
    background-color: #f2f2f2;
    padding: 3rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
  }

  footer h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  footer ul li {
    margin-bottom: 0.5rem;
  }
}

/*===============
    ORDINATEUR
===============*/
@media (min-width: 1350px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .logo {
    width: 10%;
    height: auto;
  }

  header div {
    display: flex;
    flex-direction: row-reverse;
  }
  .nav li {
    margin-right: 4rem;
  }

  .nav li a {
    padding-top: 2rem;
  }

  .nav li a:hover {
    color: #0065fc;
    border-top: solid 2px #0065fc;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  .recherche {
    width: 40%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .recherche input {
    width: 62%;
  }
  .loupe i {
    display: none;
  }
  .loupe {
    width: 25%;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
    font-size: 1rem;
    color: white;
  }

  .filtres li:hover {
    background-color: #0065fc;
    transform: scale(1.05) translateY(-3px);
    transition: 0.2s;
  }

  .filtres li a:hover {
    color: white;
    transition: 0.2s;
  }

  main h5 {
    display: block;
    float: left;
    font-size: 1rem;
    margin-top: 0.9rem;
    margin-right: 1rem;
  }

  #logo_info {
    float: left;
    margin-right: 1rem;
  }

  .info {
    margin-bottom: 2rem;
  }

  .hebergements {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .populaire {
    width: 30%;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 27px;
  }
  .article_herbergement_pop:hover,
  .article_herbergement:hover,
  .article_activité:hover {
    transform: scale(1.05) translateY(-3px);
    transition: all 0.2s;
  }

  .titre_pop {
    margin-left: 5%;
    align-items: center;
  }
  .hebergement {
    padding-top: 2rem;
    width: 67%;
    background-color: #f2f2f2;
    margin-right: 3%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-radius: 27px;
  }

  .hebergement h3 {
    margin-left: 3%;
    margin-bottom: 1rem;
  }

  .grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .hebergement p {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
  }

  h3 {
    margin-left: 2%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .activité {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #grand1,
  #grand2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 2rem) min-content;
    padding: 0;
  }
  #grand1 div,
  #grand2 div {
    grid-row: 1/11;
  }

  #grand1 figcaption,
  #grand2 figcaption {
    grid-row: 11/13;
  }

  footer {
    background-color: #f2f2f2;
    padding: 3rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
  }

  footer h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  footer ul li {
    margin-bottom: 0.5rem;
  }
}
